[run]
source = app
omit =
    app/main.py
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if __name__ == .__main__.:
    raise AssertionError
    raise NotImplementedError
    if TYPE_CHECKING:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod
